* {
    box-sizing: border-box;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
}

.hoverable-text {
    color: var(--text-primary-color);
    transition: color 0.25s ease;
}

.hoverable-text:hover {
    color: var(--text-secondary-color);
}

.light-text {
    font-family: "Libre Baskerville", serif;
    font-weight: 200;
    font-style: normal;
}

.skill-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.25rem;
    border-radius: 0.5rem;
}

.shadow { box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2); }
.light-shadow { box-shadow: 0 0 16px 0 rgba(255, 255, 255, 0.2); }